{% load static %}

    <style>
        * {
            font-family: Inter, sans-serif;
            box-sizing: border-box;
        }

        html{
            height: 100%;
        }

        body{
            margin: 0;
            min-height: 100%;
        }

        nav {
            width: 100%;
            display: flex;
            position: fixed;
            margin: 10px 980px;
        }
        nav a {
            color: #000000;
            text-decoration: none;
            margin-top: 10px;
        }

        #title {
            position: fixed;
            left: 2%;
            top: 3%;
        }

        #button{
            background-color: #161B35;
            color: #fff;
            border-radius: 5px;
            padding: 8px 18px;
        }

        nav li {
            list-style: none;
        }

        nav ul li{
            padding: 25px;
            display: inline;
            position: relative;
        }

        #wrap{
            display: flex;
        }

        .fotoImovel{
            height: 500px;
            width: 850px;
            margin-top: 80px;
            margin-left: 24px;
            display: flex;
            border-radius: 10px;
        }

        .tabela h3 {
            display: flex;
            margin: 80px auto;
            padding-left: 30px;
            font-size: x-large;
        }

        .tabela p {
            margin: -80px auto;
            padding-left: 30px;
            font-size: large;
        }

        .informacoes {
            display: flex;
            margin: 58px auto;
            padding: 50px;
            font-size: large;
        }

        .informacoes th {
            display: flex;
            text-align: center;
            font-size: large;
            color: #fff;
            background-color: #161B35;
            padding: 4px 65px;
            border-radius: 10px;
        }

        #campo1 {
            text-align:left;
        }

        #campo2 {
            text-align:center;
        }

        .iconTable {
            height: 20px;
            width: 26px;
            margin: -5px;
        }

        .contato {
            padding-top: 100px;
        }

        #button1 {
            background-color: #161B35;
            color: #fff;
            border-radius: 5px;
            padding: 10px 40px;
            margin: 85px 27px;
            text-decoration: none;
        }

        #pessoas {
            height: 40px;
            display: flex;
            margin-top: -28px;
            padding-left: 260px;
        }

        #heart {
            height: 40px;
            display: flex;
            margin-top: -42px;
            padding-left: 300px;
        }

        #iconsP {
            height: 18px;
            padding-top: 3px;
        }  
    </style>