<head>
    <title>CENTRAL IMÓVEIS - Redefinição de senha completa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/52e9b52be4.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<h2>Redefinição de senha completa</h2>
<p>
    Sua senha foi redefinida. Você pode prosseguir e se autenticar agora.
</p>
<a href="../login">Acessar minha conta</a>